<?xml version="1.0" ?>
<robot name="onelink_gazebo" xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:include filename="$(find onelink_gazebo)/urdf/onelink_macro.xacro"/>	

  <xacro:onelink_robot prefix=""/>

  <!-- Fix robot to Gazebo world -->
  <link name="world"/>
  <joint name="world-base_link-fixed" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>
</robot>
